.Header {
    padding: 25px 0;
    position: fixed;
    width: 100%;
    z-index: 50;
    background-color: var(--bg-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.397);
    transition: background-color 0.3s;

    .flex {
        height: 46px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .signinBtn {
            width: 240px;
            display: flex;
            justify-content: right;
        }

        .userLink {
            display: flex;
            gap: 8px;
            align-items: center;
            width: 240px;
            justify-content: right;

            .userAvatar {
                width: 32px;
                height: 32px;
                border-radius: 100%;
                border: 1px solid #000;
                background-color: white;
            }
        }
    }
}

.headerIsVisible {
    box-shadow: none;
    background-color: transparent;
}
