.filmsTitle {
    font-size: 22px;
    line-height: 24px;
    margin-top: 60px;
    margin-bottom: 25px;
    font-weight: 700;
}

.swithcerWrapper {
    display: flex;
    gap: 44px;

    .switcher {
        cursor: pointer;

        .switcherCategory {
            font-size: 24px;
        }

        .switcherAmount {
            font-size: 13px;
            line-height: 26px;
            color: #B5B5B5;
        }

        .switcherIndicator {
            height: 6px;
            background-color: var(--accent-color);
            margin-top: 8px;
        }
    }
}

.separator {
    height: 1px;
    background-color: #B5B5B5;
}

.listWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    row-gap: 20px;

    .movieCard {
        display: flex;
        align-items: center;
        gap: 20px;
        line-height: 150%;

        img {
            border-radius: 16px;
        }

        .movieYear {
            font-weight: 400;
        }

        .movieTitle {
            font-weight: 400;
        }

        .movieRating {
            margin-bottom: 8px;
            color: #B5B5B5;
            font-weight: 300;
        }
    }
}