.filmsTitle {
    font-size: 22px;
    line-height: 24px;
    margin-top: 60px;
    margin-bottom: 25px;
    font-weight: 700;
}

.swithcerWrapper {
    display: flex;
    gap: 44px;

    .switcher {
        cursor: pointer;

        .switcherCategory {
            font-size: 24px;
        }

        .switcherAmount {
            font-size: 13px;
            line-height: 26px;
            color: #B5B5B5;
        }

        .switcherIndicator {
            height: 6px;
            background-color: var(--accent-color);
            margin-top: 8px;
            border-radius: 5px 5px 0 0;
        }
    }
}

.separator {
    height: 1px;
    background-color: #B5B5B5;
}