.Button {
    border-radius: 100px;
    transition-duration: 0.3s;

    &:hover {
        opacity: 0.6;
    }
}

.regular {
    background-color: var(--main-color);
    color: white;
}

.outline {
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.secondary {
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.md {
    padding: 12px 20px;
}

.lg {
    padding: 16px 30px;
    font-size: 18px;
}