.title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 25px;
}

.wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 190px;
    display: flex;
    flex-direction: column;

    img {
        border-radius: 20px;
    }

    .movieTitle {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin-top: 12px;
    }

    .description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.loaderWrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .loader {
        width: 48px;
        height: 48px;
        border: 5px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}