.title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 25px;
}

.wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 190px;
    display: flex;
    flex-direction: column;
    position: relative;

    .movieInfo {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        gap: 10px;

        .rating {
            width: 44px;
            height: 44px;
            border-radius: 14px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            font-weight: 600;

            &.red {
                background-color: red;
            }

            &.white {
                background-color: white;
            }

            &.green {
                background-color: #3bb33b;
            }
        }

        .favButton {
        }
    }

    &:hover {
        img {
            transform: scale(1.04);
        }
    }
    .imgWrapper {
        border-radius: 20px;
        overflow: hidden;

        img {
            transition-duration: 0.2s;
            transform-origin: bottom;
        }
    }

    .movieTitle {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin-top: 12px;
    }
}

.errorWrapper {
    text-align: center;
    padding-top: 100px;

    span {
        font-size: 48px;
        font-weight: 500;
    }

    p {
        color: #b5b5b5;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
}
