.listWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;

    .movieCard {
        display: flex;
        align-items: center;
        gap: 20px;
        line-height: 150%;
        position: relative;

        .deleteMovieButton {
            position: absolute;
            bottom: 0px;
            left: 0px;
            transform: scale(0.8);
            cursor: pointer;
        }

        img {
            border-radius: 16px;
        }

        .movieYear {
            font-weight: 400;
        }

        .movieTitle {
            font-weight: 400;
        }

        .movieRating {
            margin-bottom: 8px;
            color: #b5b5b5;
            font-weight: 300;
        }
    }
}
