.playerModal {
    .modalContent {
        position: relative;
        aspect-ratio: 16 / 9;
        top: 0;
        z-index: 20;
        position: relative;
        // border: 1px solid white;

        video {
            width: 100%;
        }

        .controlsHidden {
            opacity: 0;
        }

        .controls {
            width: 100%;
            position: absolute;
            bottom: 0px;
            background-color: rgba(0, 0, 0, 0.486);
            padding: 15px 20px;

            transition-duration: 0.6s;

            img {
                cursor: pointer;
                transition-duration: 0.2s;

                &:hover {
                    opacity: 0.7;
                }
            }

            .timeInput {
                width: 100%;
                margin-bottom: 15px;
            }

            .btnWrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 12px;

                .leftButtons {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }

                .rightButtons {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                }
            }
        }
    }
}
