.SearchPage {
    padding-top: 175px;

    h1 {
        font-weight: 900;
        font-size: 48px;
        margin-bottom: 20px;
    }

    .categoryTitle {
        font-size: 22px;
        line-height: 24px;
        margin-top: 45px;
        margin-bottom: 25px;
        font-weight: 700;
    }
}
