.MainPageHeroSection {
    height: 695px;

    .wrapper {
        position: relative;
        top: 440px;

        h1 {
            font-weight: 900;
            font-size: 48px;
            margin-bottom: 20px;
        }

        .about {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 36px;
        }
    }
}
