.SearchBar {
    position: relative;

    .inputWrapper {
        display: flex;
        gap: 10px;
        align-items: center;
        z-index: 10;

        input {
            width: 500px;
        }

        img {
            cursor: pointer;
        }
    }

    .searchResults {
        position: absolute;
        top: 42px;
        padding: 10px 0;
        border: 1px solid #000;
        background-color: white;
        width: 500px;
        border-radius: 20px;
        background-color: #44413c;
        border: 1px solid white;
        overflow: hidden;
        z-index: 10;

        .overlay {
            width: 100vw;
            height: 100vh;
            position: absolute;
        }

        .category {
            margin-left: 20px;
            margin-top: 15px;
        }

        li {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 10px 20px;

            .movieInfo {
                font-size: 14px;
                color: #b5b5b5;
                line-height: 180%;

                span {
                    color: #00b618;
                    font-weight: 700;
                    margin-right: 8px;
                }
            }

            &:hover {
                background-color: #53504c;
            }
        }
    }
}

.SearchBarOpen {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
}

.loader {
    position: absolute;
    left: 44%;
    top: 50px;
}
